/* Typography */

/*

DM Mono
light 300
light 300 italic
regular 400
regular 400 italic
medium 500
medium 500 italic

 */

html {
  font-size: 18px;
  font-family: 'DM Mono', Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', Helvetica, sans-serif;
}

h1 {
  font-size: 4em;
  max-width: 20ch;
  margin-left: auto;
  margin-right: auto;
}

.title__how-to {
  font-variant: small-caps;
}

.title__connecting {
  font-size: 0.6em;
  font-variant: super;
}

.title__request {
  text-decoration: underline 0.1ch double currentColor;
}

h2 {
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-align: center;
}

a,
p {
  line-height: 1.5;
}

dt {
  font-weight: 500;
  font-size: 1.25em;
}

dd {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
}

ul {
  list-style: none;
}

.foil-overview__list {
  list-style-type: '- ';
}

.letter-segment__heading {
  font-weight: 500;
  font-style: medium;
  font-size: 1em;
  line-height: 1.25;
  text-align: right;
  font-family: 'DM Mono', Courier, monospace;
}

.letter-segment__body {
  font-family: 'DM Mono', Courier, monospace;
  font-size: 1em;
  font-weight: 300;
}

.letter-segment__annotation {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  line-height: 1.25;
}

.foil-overview__annotation {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  line-height: 1.25;

}

.foil-overview ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* Links */

a {
  text-decoration: underline 0.1em solid;
  color: black;
}


a:link {

}

a:visited {

}

a:focus {

}

a:hover {
  text-decoration: none;
  /* how do i give it a bit of space at the left and right of the word?*/
  color: white;
  background-color: black;
}

a:active {

}


/* Color

gray #DAD7CF
yellow #FFDA00
blue #2077C7
orange #FF7A00

 */

body {
  background-color: #DAD7CF;
  color: black;
}

.letter-segment__body {
  background-color: white;
}


/* Layout */

*{
  box-sizing: border-box;
  /* width and height includes padding and border */
}

body {
  max-width: 100%;
  margin: 0 auto;
  padding: 2em;
}

h2 {
  padding-bottom: 1em;
  padding-top: 1em;
}

pre {
  overflow: scroll;
  max-width: 100%;
}

li {
  padding-bottom: .5em;
}

dl {
  margin: 1em;
}

dt {
  margin-bottom: 1em;
  margin: 1em;
}

dd {
  padding-bottom: 1em;
  padding-top: 1em;
}

ol {
  padding-left: 2em;
  padding-right: 2em;
}




/*  Resources */

.resources {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 2em;
}

.resources-term {
  flex: 1 100px;
  text-align: right;
  min-width: 25%;
}

.resources-definition {
  flex: 3 200px;
  min-width: 50%;
}

/* Introduction */

#introduction {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 2em;
}

.introduction-term {
  flex: 3 200px;
  min-width: 50%;
}

.introduction-definition {
  flex: 1 100px;
  min-width: 25%;
}

/* Letter Segment */

.letter-segment {
  display: flex;
  flex-flow: row wrap;
}

.letter-segment__heading {
  flex: 1 25%;
}

.letter-segment__body {
  padding: 4em;
  margin: 1em;
  flex: 3 calc(50% - 4em);
  align-self: stretch;
}

.letter-segment__annotation {
  flex: 1 25%;
  align-self: flex-end;
}

.letter-segment__fill-in {
  background-color: #DAD7CF;

}

/* About */

.about {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 2em;
}

/* Conclusion */

.conclusion {
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 2em;
}


/* Menu */

.menu details > summary {
  list-style: none;
}

.menu details > summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  cursor: pointer;
}

.menu details[open] .icon__close {
  display: block;
}

.icon__close,
.menu details[open] .icon__menu {
  display: none;
}

.accessibility-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Footer */

footer {
  padding-top: 2em;
  padding-bottom: 1em;

}

.copyright {
  text-align: center;
}

.footer-navigation {
  margin: 0 auto;
  max-width: 40ch;
}

.footer-navigation ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* FOIL Overview */

#foil-overview__appeal-denial,
#foil-overview__timely-appeal,
#foil-overview__request-letter {
  background-color: white;
  font-family: 'DM Mono', Courier, monospace;
  font-size: 1.25em;
  font-weight: 300;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 2em;
  padding-right: 2em;
  margin: 1em;
  text-align: center;
  line-height: 2;
}

/* Screen Sizes */

/* Big Screens */

@media screen and (min-width: 1000px) {

  html {
    font-size: 20px;
  }

  h1,
  h2,
  .resources,
  .conclusion,
  .about {
    max-width: 50%;
    margin: 0 auto;
  }

  .foil-overview {
    display: flex;
    flex-flow: row wrap;
    max-width: 75%;
    margin: 0 auto;
  }

  .foil-overview__information {
    flex: 3 50%;
    min-width: 50%;
  }

  #foil-overview__request-letter,
  #foil-overview__appeal-denial,
  #foil-overview__timely-appeal {
    flex: 1 25%;
    min-width: 25%;
    font-size: 1em;
    align-self: start;
  }

}



/* Small Screens*/

@media screen and (max-width: 500px) {

  html {
    font-size: 15px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .letter-segment {
    display: flex;
    flex-direction: column;
  }

  .letter-segment__heading {
    max-width: 75%;
    padding-bottom: 1em;
    padding-top: 2em;
    text-align: left;
    flex: 1 15px;
  }

  .letter-segment__body {
    padding: 4em;
    margin: 1em;
    flex: 1 15px;
  }

  .letter-segment__annotation {
    max-width: 75%;
    text-align: right;
    flex: 1 15px;
  }

  .conclusion {
    margin-top: 4em;
    font-weight: 500;
    font-style: medium;
  }

  #foil-overview__request-letter {
    max-width: 100%;
    margin: 0 auto;
  }

  #foil-overview__timely-appeal {
    max-width: 100%;
    margin: 0 auto;
  }

  #foil-overview__appeal-denial {
    max-width: 100%;
    margin: 0 auto;
  }

  .resources {
    display: flex;
    flex-flow: row wrap;
  }

  .resources-term {
    text-align: left;
  }

}









